body {
    font-family: 'Times New Roman', Times, serif; 
    margin: 100; 
    padding: 0; 
    }
#header {
        background-color: #cff1e9;
       color: rgb(0, 0, 0); 
       padding: 10px; 
    }
#nav {
        list-style-type: none; 
        padding: 10; 
     }
#nav li {
        display: inline; 
        margin-right: 25px; 
         }
#nav a { 
            color: rgb(56, 27, 182);
            text-decoration: none; 
             }
 #main {
            display: flex-end; 
            flex-wrap: wrap; 
            padding: 10px; 
          }
#projects-list, #project-description { 
            flex: 10; 
            margin: 0px; 
            }
#footer {
                background-color: #7e7d7d;
               color: white; 
               text-align: center; 
               padding: 15px; 
               position: relative; 
               bottom: 0; 
               width: 100%;
             }

             header h1 {
                background-color: #7e7d7d;
                color: white; 
                margin-bottom: 10px;
              }
              
              nav ul {
                list-style: none;
                padding: 0;
              }
              
              nav ul li {
                display: inline;
                margin: 0 20px;
              
              }


/* Media Queries untuk tampilan responsif */
@media screen and (max-width: 0px) {
    #main {
    flex-direction: column-reverse;
    }
    #footer {
    position: sticky;
    }
   }
   #nav li {
    display: inline-block; 
    margin-right: 10px; 
    }
    #nav a { 
        color: rgb(56, 27, 182);
        text-decoration: none; 
        padding: 5px 10px;
        transition: background-color 0.5s ease, color 0.9s
        ease; 
        }
        #nav a:hover {
            background-color: rgb(137, 168, 226); 
            color: #333;
            }
            #gallery { 
                display: flex;
                 
                justify-content: space-around; 
                flex-wrap: wrap;
                 margin-top: 100px;
                }
                .gallery-image { 
                    width: 35%; 
                    opacity: 50;
                    animation: fadeIn 4s forwards; 
                    }
                    @keyframes fadeIn { 
                        to {
                         opacity: 1;
                         }
                        }
                        #contact-button { 
                            padding: 5px 20px; 
                            font-size: 16px; 
                            background-color: #a7a5a5;
                            color: rgb(0, 0, 0); 
                            border: none; 
                            cursor: pointer;
                            transition: transform 0.5s ease; 
                            }
                            #contact-button:hover { 
                                transform: scale(1.1); 
                                }
                                #contact-button:active { 
                                    transform: translateY(2px); 
                                    }



                        

  
 
  