body {
    font-family: 'Times New Roman', Times, serif; 
    margin: 100; 
    padding: 0; 
    }
#header {
        background-color: #cff1e9;
       color: rgb(0, 0, 0); 
       padding: 50px; 
    }
#nav {
        list-style-type: none; 
        padding: 10; 
     }
#nav li {
        display: inline; 
        margin-right: 25px; 
         }
#nav a { 
            color: rgb(56, 27, 182);
            text-decoration: none; 
             }
 #main {
            display: flex; 
            flex-wrap: wrap; 
            padding: 60px; 
          }
#projects-list, #project-description { 
            flex: 10; 
            margin: 0px; 
            }
#footer {
                background-color: #7e7d7d;
               color: white; 
               text-align: center; 
               padding: 0px; 
               position: relative; 
               bottom: 0; 
               width: 100%;
             }
/* Media Queries untuk tampilan responsif */
@media screen and (max-width: 0px) {
    #main {
    flex-direction: column-reverse;
    }
    #footer {
    position: sticky;
    }
   }
   #nav li {
    display: inline-block; 
    margin-right: 10px; 
    }